<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">The Photobooth</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#home">Home</a>
    </li>
    <li class="nav-item-">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#latest">Latest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#shop" routerLink="shop">Shop</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="list">List</a>
        <a class="dropdown-item" routerLink="create">Create</a>
        <a class="dropdown-item" routerLink="update">Update</a>
        <a class="dropdown-item" routerLink="delete">Delete</a>
      </div>
    </li>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </ul>
</nav>

