<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1452587925148-ce544e77e70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="d-block w-100" alt="" width="900" height="560">
      <div class="carousel-caption">
        <h1 class="display-4"> The PhotoBooth.</h1>
        <p class="lead"><b> Welcome to my Photography Store </b> </p>
        <button type="button" class="btn btn-primary-outline" routerLink="shop">Shop More</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&w=1000&q=80" class="d-block w-100" alt="" width="900" height="560">
      <div class="carousel-caption">
        <h1 class="display-4"> The PhotoBooth.</h1>
        <p class="lead"><b>Welcome to my photography page </b> </p>
        <button type="button" class="btn btn-primary-outline" routerLink="shop">Shop More</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1550613097-fe6c2c321cd3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" class="d-block w-100" alt="" width="900" height="560">
      <div class="carousel-caption">
        <h1 class="display-4"> The PhotoBooth.</h1>
        <p class="lead"><b> Welcome to my photography page</b> </p>
        <button type="button" class="btn btn-primary-outline" routerLink="shop">Shop More</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
</div>

<div class="jumbotron">
  <div class="media">
    <div class="media-body">
      <h5 id="about" class="display-4">About Me</h5>
      <p class="lead">
        I'm a photographer based in Los Angeles, California who specializes in photographing architecture and various kinds of aesthetics; I also have a mild airplane obsession.

        I grew up in Ipswich, Massachusetts: a small coastal town that's one part postcard and one part dramatic Boston movie.  Here I was lucky enough to meet a number of amazing teachers who opened my eyes to the world of art and design; this would alter the path of my life in more ways than I could ever imagine.
      </p>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h5 id="about" class="display-4">Latest</h5>
  <div class="card-columns">
    <div id="latest" class="card">
      <img src="https://i.pinimg.com/564x/53/d7/0e/53d70e887316f0d117e2957b1a0ef442.jpg" class="d-block w-100" alt="" width="20" height="300">
    </div>
    <div class="card">
      <img src="https://i.pinimg.com/564x/bf/fd/9d/bffd9d997a20911ccaff04c598c37eee.jpg" class="d-block w-100" alt="" width="20" height="300">
    </div>
    <div class="card">
      <div class="card">
        <img src="https://i.pinimg.com/564x/4e/d3/26/4ed326cdf7a34fbb24fd565de2c2308b.jpg" class="d-block w-100" alt="" width="20" height="300">
      </div>
    </div>
    <div class="card text-center">
      <div class="card">
        <img src="https://i.pinimg.com/564x/7b/0d/3c/7b0d3c14009f4d2ee24d027bf3bd46ef.jpg" class="d-block w-100" alt="" width="20" height="300">
      </div>
    </div>
    <div class="card">
      <div class="card">
        <img src="https://i.pinimg.com/474x/31/10/42/311042cc05b0f2180c1edd19798dd4a6.jpg" class="d-block w-100" alt="" width="20" height="300">
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/474x/58/7b/cb/587bcb657d53f52de0199aab9e926466.jpg" class="d-block w-100" alt="" width="20" height="300">
      </div>
    </div>
  </div>
</div>
